@import "~leaflet/dist/leaflet.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.station_popup-enter,
.station_popup-leave-to{
    transform: rotateY(50deg);
}
.station_popup-enter-to,
.station_popup-leave {
    transform: rotateY(0deg);
}
.station_popup-enter-active,
.station_popup-leave-active {
    transition: transform 400ms;
}
.sensor_popup-enter,
.sensor_popup-leave-to{
    opacity: 0;
}
.sensor_popup-enter-active,
.sensor_popup-leave-active {
    transition: opacity .5s;
}
#map{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#button_panel {
    position: absolute;
    top: 120px;
    right: 30px;
}
#station_card {
    position: absolute;
    top: 100px;
    left: 60px;
}
#station_input {
    width: 60%;
    position: absolute;
    top: 10px;
    left: 285px;
}
#close_button {
    top: 3px;
    left: 137px;
    position: absolute;
}
#v-btn_close {
    width: 25px;
    height: 25px;

}
#chart_card {
    top: 100px;
    left: 260px;
    position: absolute;
}
.custom-popup .leaflet-popup-content-wrapper {
    background: #B2DFDB;
    color: white;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
}
