// Basics
.v-navigation-drawer--fixed {
  position: absolute;
}
.v-navigation-drawer__content {
  overflow-x: hidden;
  overflow-y: hidden;
}
html {
  overflow-y: hidden;
}
p {
  text-align: center;
  &.white-data-paragraph {
    color: #ffff;
    line-height: 10px;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
  }
  &.index-level-paragraph {
    line-height: 11px;
    margin-top: 1rem;
  }
  &.percent-value-paragraph {
    font-family: Rubik;
    margin-bottom: 0;
    font-size: 30px;
    max-width: 100px;
  }
  &.value-paragraph {
    font-family: Rubik;
    font-weight: normal;
    padding: 0;
    margin-top: 0;
    font-size: 15px;
  }
  .sensor-symbol-paragraph {
    font-family: Rubik;
    font-size: 16px;
    color: #FFFF;
    font-weight: bold;
  }
}
h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  &.silver {
    color: #7B7B7B;
  }
  &.black {
    color: #000000;
  }
  &.information-info {
    font-weight: bold;
    color: #ffff;
  }
}
.row {
  @media only screen and (max-width: 599px) {
    position: relative;
  }
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.5rem;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  &.information-dialog {
    margin-bottom: 0.8rem;
  }
  &.dashboard-data {
    margin-bottom: 1rem;
  }
  &.sensor {
    margin-bottom: 0;
    flex-wrap: nowrap;
    flex: 1;
    display: flex;
  }
  &.chart-dialog {
    margin-bottom: 0.5rem;
    &.action {
      padding-top: 0.5rem;
      text-align: center;
      &.button {
        padding-bottom: 0.3rem;
      }
    }
  }
  &.chart {
    &.button {
      padding-bottom: 0.3rem;
    }
  }
}
.button-column {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  &.sensor {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    align-content: center;
  }
  &.button {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  &.sensor-symbol {
    text-align: left;
    width: 40px;
  }
}
#app {
  p {
    margin-bottom: 3px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.popup-enter,
.popup-leave-to{
  transform: rotateY(50deg);
}
.popup-enter-to,
.popup-leave {
  transform: rotateY(0deg);
}
.popup-enter-active,
.popup-leave-active {
  transition: transform 400ms;
}
.autocomplete-popup-enter,
.autocomplete-popup-leave-to{
  transform: rotateY(50deg);
}
.autocomplete-popup-enter-to,
.autocomplete-popup-leave {
  transform: rotateY(0deg);
}
.autocomplete-popup-enter-active {
  transition: transform 700ms;
}
.autocomplete-popup-leave-active {
  transition: transform 50ms;
}
// shared elements

.logo-image-small {
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 599px) {
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
  }
  @media only screen and (min-width: 600px) {
    margin-bottom: 1.2rem;
    width: 55px;
    height: 55px;
  }
}
.logo-image-large {
  @media only screen and (max-width: 599px) {
    height: 50px;
  }
  @media only screen and (min-width: 600px) {
    height: 55px;
    margin-bottom: 1.2rem;
  }
}
h3 {
  line-height: 32px;
  @media only screen and (max-width: 599px) {
    font-size: 14px;
  }
  @media only screen and (min-width: 600px) {
    font-size: 18px;
  }
}
p {
  font-family: Rubik;
  color: #FFFF;
  text-align: center;
  &.icon-text-paragraph {
    font-weight: bold;
    @media only screen and (max-width: 599px) {
      font-size: 10px;
    }
    @media only screen and (min-width: 600px) {
      font-size: 12px;
    }
  }
  &.data-paragraph {
    font-weight: bold;
    @media only screen and (max-width: 599px) {
      font-size: 12px;
    }
  }
  &.chart-dialog-paragraph {
    @media only screen and (max-width: 599px) {
      font-size: 14px;
      padding-bottom: 0.3rem;
    }
    @media only screen and (min-width: 600px) {
      font-size: 18px;
    }
  }
}
span {
  &.city-text {
    font-family: Rubik;
    font-weight: lighter;
    color: #FFFF;
    text-align: center;
    @media only screen and (max-width: 599px) {
      font-size: 11px;
    }
    @media only screen and (min-width: 600px) {
      font-size: 13px;
    }
  }
}

// Dashboard.vue

#dashboard-sidebar {
  left: 0;
  top: 0;
  margin: 0.5rem;
  position: absolute;
  text-align: center;
}
.details-button {
  margin-bottom: 0.7rem;
}
.info-icon {
  right: 0;
  position: absolute;
}
#data-container {
  alignment: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.inner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#chart {
  position: relative;
  padding: 1rem;
  @media only screen and (max-width: 599px) {
    width: 50%;
    height: 50%;
  }
  @media only screen and (min-width: 600px) and (max-width: 1024px){
    width: 40%;
    height: 40%;
  }
  @media only screen and (min-width: 1025px) {
    width: 20%;
    height: 20%;
  }
}
.data-element {
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  &.dashboard {
    height: 80px;
    @media only screen and (max-width: 599px) {
      margin-bottom: 2rem;
      width: 75px;
    }
    @media only screen and (min-width: 600px) {
      margin-bottom: 2.5rem;
      width: 160px;
    }
    &.left {
      @media only screen and (max-width: 599px) {
        margin-left: 1rem;
      }
      @media only screen and (min-width: 600px) {
        margin-left: 2rem;
      }
    }
    &.right {
      @media only screen and (max-width: 599px) {
        margin-right: 1rem;
      }
      @media only screen and (min-width: 600px) {
      margin-right: 2rem;
      }
    }
    &.station-name {
      @media only screen and (max-width: 599px) {
        width: 150px;
      }
      @media only screen and (min-width: 600px) {
        width: 190px;
      }
    }
  }
}
.icon {
  align-items: center;
  margin-bottom: 0.2rem;
  &.sidebar {
    @media only screen and (max-width: 599px) {
      width: 20px;
      height: 20px;
    }
    @media only screen and (min-width: 600px) {
      width: 25px;
      height: 25px;
    }
  }
  &.dashboard {
    @media only screen and (max-width: 599px) {
      width: 25px;
      height: 25px;
    }
    @media only screen and (min-width: 600px) {
      width: 30px;
      height: 30px;
    }
    &.humidity {
      @media only screen and (max-width: 599px) {
        width: 17px;
      }
      @media only screen and (min-width: 600px) {
        width: 21px;
      }
    }
  }
}
.sensor-symbol {
  font-family: Rubik;
  color: #FFFF;
  font-weight: bold;
  text-align: center;
  @media only screen and (max-width: 599px) {
    font-size: 14px;
  }
  @media only screen and (min-width: 600px) {
    font-size: 16px;
  }
}
.sensor-value {
  align-content: center;
  alignment: center;
  justify-content: center;
  font-family: Rubik;
  font-weight: bold;
  text-align: center;
  @media only screen and (max-width: 599px) {
    font-size: 14px;
  }
  @media only screen and (min-width: 600px) {
    font-size: 16px;
  }
}

// Map.vue

.map-panel {
  padding: 0.3rem;
  align-content: center;
  justify-content: center;
  alignment: center;
  border-radius: 0 0 15px 0;
  background: rgba(0,77,64,.9);
  top: 0;
  left: 0;
  transition: height 0.5s, width 0.5s, border-radius 0.5s;
  position: absolute;
  @media only screen and (max-width: 599px) {
    width: 60px;
    height: 150px;
  }
  @media only screen and (min-width: 600px) {
    width: 70px;
    height: 180px;
  }
  &.large {
    padding: 1rem;
    @media only screen and (max-width: 599px) {
      width: 250px;
      height: 210px;
    }
    @media only screen and (min-width: 600px) {
      width: 330px;
      height: 250px;
    }
    &.station {
      height: 100%;
    }
  }
}
#button-panel {
  position: absolute;
  @media only screen and (max-width: 599px) {
    bottom: 55%;
    right: 2%;
  }
  @media only screen and (min-width: 600px) {
    top: 20%;
    right: 3%;
  }
}
#view-icons {
  margin-bottom: 15px;
}
.scrollable-content {
  padding: 0.5rem;
  overflow-y: auto;
  height: 75%;
  @media only screen and (max-height: 500px) {
    height: 55%;
  }
  &.input {
    height: 60%;
    @media only screen and (max-height: 500px) {
      height: 35%;
    }
  }
}
#map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.custom-popup .leaflet-popup-content-wrapper {
  background: #B2DFDB;
  color: white;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
}

// ChartDialog.vue

#chart-dialog-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: rgba(0,77,64);
  overflow-y: hidden;
}
#chart-card {
  padding: 0.5rem;
  background: #ffff
}
#chart-info {
  padding: 1rem;
  background: #ffff;
  justify-content: center;
  text-align: center;
  align-content: center;
  alignment: center;
}

// InformationDialog.vue

#information-dialog-card {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: rgba(0,77,64, 0.9);
  overflow-y: hidden;
}
